body{
    background-color: black;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 0;
    
}
h1 {
    background-color: rgb(72, 86, 86);
    color: black;
    margin: 1rem;
    padding: 5rem;
    justify-content: center;
    display:flex;
    border-radius: 20px;
}
h2{
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    display:flex;
    background-color: brown;
    color: rgb(193, 208, 120);
    border-radius: 5px;
}

nav ul{
    list-style: none;
    margin:4em;
    padding: 0;
    justify-content: center;
    display:flex

}
nav li{
    margin: 0;
    padding: 0;
    flex: auto;
    text-align: center;

}
nav a {
    background-color: rgb(147, 147, 58);
    color: rgb(3, 3, 3);
    text-decoration:wavy;
    cursor: pointer;
    padding: 0;
    margin: 1em;
    font-size: 1.2rem;
    border-radius: 5px;

}

h3{
   margin: 2rem;
   padding: 1rem 3rem;
}

p{
    line-height: 2.5;
    margin: 2rem;
   padding: 1rem 3rem;
   font-size: 1.2rem;
   
}
p ::before{
    content: "🛠";
}
.section{
   
    background-color: rgb(32, 48, 98);
    color: rgb(255, 87, 157);
    text-decoration:none;
    margin:0;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    display: block;
    flex: 1 0 auto;
    
   

}
footer{
    margin: 0;
    padding:3rem;
    background-color: black;
}

@media  screen and(min-width:52em) {
    .header{
        max-width: 52em;
    }
}

@media  screen and(min-width:52em) {
    .páginas{
        max-width: 52em;
    }
}
@media  screen and(min-width:52em) {
    .section{
        max-width: 52em;
    }
}
@media  screen and(min-width:52em) {
    .p{
        max-width: 52em;
    }
    
}
@media  screen and(min-width:52em) {
    .footer{
        max-width: 52em;
    }
}
.section{
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #fff;
}
.header{
    
    list-style: none;
    margin:0.6em 1em; 
    padding:0;
    justify-content:space-between;
    display:flex
}
figure{
    margin: 0;
}
img{
    display:block;
    border:0;
    width: 10%;
    height: auto;
    margin: 5em;
}