body{
    background-color: black;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 0;
}
header{
    background-color: black;
    color: wheat;
    padding: 2rem;
    margin: 0;
    
}
h1 {
    background-color: rgb(72, 86, 86);
    color: black;
    margin: 1rem;
    padding: 5rem;
    justify-content: center;
    display:flex;
    border-radius: 20px;
}
h2{
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    display:flex;
    background-color: brown;
    color: rgb(193, 208, 120);
    border-radius: 5px;
}

nav ul{
    list-style: none;
    margin:0;
    padding: 5rem;
    justify-content: center;
    display:flex
}
nav li{
    margin: 0 5rem;
}
nav a {
    background-color: rgb(147, 147, 58);
    color: rgb(3, 3, 3);
    text-decoration:wavy;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;

}

h3{
   margin: 2rem;
   padding: 1rem 3rem;
}

p{
    line-height: 2.5;
    margin: 2rem;
   padding: 1rem 3rem;
   font-size: 1.2rem;
   
}
.listado{
   
    background-color: rgb(32, 48, 98);
    color: rgb(255, 87, 157);
    text-decoration:wavy;
    padding: 1rem 2rem;
    margin: 0;
    font-size:1.7rem;
    border-radius: 5px;

}
footer{
    margin: 0;
    padding:3rem;
    background-color: black;
}