body{ 
    padding: 0;
    background: linear-gradient(90deg, #22c1c3, #fdbb2d);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cabecera{
    
    background: linear-gradient(90deg, #070707, #fdbb2d);
    border-radius: 1em;
   
}
.centrado{
    margin: 0 auto;
    padding: 1em .8em;
}
.titulo1{
    margin: 0 0 1em;
    padding: 1em 0;
    font-weight: 300;
    color: white;
    margin-left: 2em;

}
/* ACA PROBAMOS BOTONES */
.páginas{
    width: 40%;
    height: 4%;
    float:right;
    margin-top: 15px;
}
.páginas ul {
    margin: 1em 1em;
    padding: 1em;
    list-style-type: none;
    float: right;
}
.páginas ul li {
    display: inline;
    flex: 1 0 auto;
}
.páginas ul li a {
    display: inline-block;
    padding: 10px;
    
    background: linear-gradient(90deg, #f3f3ed, #d69005);
    color: black;
    border-radius: 7px;
    text-decoration: none;
    font-weight:bold;
}
.páginas ul li a:active {
    color: gold;
}
.páginas ul li a:visited {
    color: #0b0b0b;
}
.páginas ul li a:link {
    color: rgb(45, 16, 152);
}
.páginas ul li a:hover {
    color: rgb(9, 126, 185);
}
/* ACA TERMINA */
.card a {
    color: rgb(247, 241, 241);
    
}
.card a :hover{
    box-shadow: 3px 3px 8px #0c0c0c; 
}
.card-content {
     justify-content: space-between;
    
}
.card-content h2{
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 80%;
    
    
}
.card-content p {
    font-size: 100%;
    

}
figure{
    
    margin: 1em;
    padding: 0;
}
img{

    display: block;
    border: 0;
    width: 100%;
    height:auto;
}
.card{
    padding: 0;
    background: linear-gradient(90deg, #070707, #fdbb2d);
    margin-bottom: .5em;
    width: 33%;   
    height: auto; 
    color: rgb(239, 231, 231);

}
.cards{
    width: 100%;
    display: flex;
    flex-wrap:wrap-reverse;
    box-sizing:content-box;
    justify-content: space-between;
    
}
.descripcion {
    text-align:end;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}
footer {
    width: 100%;
    height: 18%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 50px;
}
#datos {
    width: 50%;
    height: 15%;
    float: left;
    padding: 1em;
    box-sizing: border-box;
    background: linear-gradient(90deg, #22c1c3, #f4f2ee);
    border-radius: 5px;
    flex: 1 0 auto;
   }